<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">
<head>
    <meta charset="UTF-8">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
<section class="page-header">
    <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    <a href="{{ site.githuburl }}" class="btn" target="_blank">View on GitHub</a>
    <a href="https://forms.gle/aJn8YRzaMitbWWu89" class="btn" target="_blank">Add Topic</a>
    <a href="https://www.youtube.com/channel/UCbBzU09lr8FLFaTMbXY4zBQ" class="btn" target="_blank">YouTube channel</a>
    <a href="https://secure.wayforpay.com/donate/lvivjavaclub" class="btn">Donate</a>
</section>

<section class="main-content">
    <a href="{{ site.url }}" >Home</a>
    <hr/>
    {{ content }}
    <footer class="site-footer">
        <span class="site-footer-partners">
            <p>Partners</p>
            <img src="https://resources.jetbrains.com/storage/products/company/brand/logos/jetbrains-training-partner.svg" alt="Training Partner logo." width="200" height="200">
            <p></p>
        </span>
        <span class="site-footer-credits">
            Subscribe <a href="{{ site.githuburl }}">on GitHub</a> or
            <a href="{{ "/feed.xml" | relative_url }}">via RSS</a>. 
            Lviv JavaClub learning video <a href="http://bit.ly/2H5txU7">playlist on YouTube</a><br/>
            See <a href="https://www.3bittalk.com/policy" target="_blank" rel="noopener">Terms and conditions&nbsp;</a> and
            <a href="https://www.3bittalk.com/conference-code-of-conduct/" target="_blank" rel="noopener">Code Of Conduct</a></span>
    </footer>
</section>

{% if site.google_analytics %}
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
</body>
</html>
